aside {
    padding: 20px;
    width: 102.4%;
    margin-top: 3px;
    margin-left: -15px;
    background-color: #fff;
}

.subscribe-content {
    padding: 20px 20px 20px 80px;
    background-color: #f4f5f6;
}

.subscribe-content .card {
    background-color: #f4f5f6;
}

.subscribe-content p, 
.newsletter-content  p {
    font: 300 15px/21px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
}

.subscribe-content .card-body {
    padding: 15px 0 !important;
}

.subscribe-content .card-title,
.newsletter-content .card-title {
    margin-left: 25px;
    margin-bottom: 35px;
    line-height: 28px;
    font-size: 24px;
    font-family: "Roboto Condensed",sans-serif;
    position: relative;
    color: black;
}

.subscribe-content .card-text,
.newsletter-content .card-text{
    margin-left: 30px;
}


.subscribe-content .red-sign-button,
.newsletter-content .red-sign-button {
    margin-left: 40px;
} 

.newsletter-content {
    padding: 0px;
    border: 1px solid #f4f5f6;
}

.newsletter-content .image-background {
    background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5) center center / cover no-repeat;
}
.newsletter-content .card-body {
    padding: 20px 20px 20px 0 !important;
}

