footer {
    padding: 0px 45px 45px 45px;
    width: 102.4%;
    margin-left: -15px;
    background-color: #fff;
}

.footer-first-row {
    border-bottom: 1px solid #f4f5f7;
}

.footer-logo {
    float: left;
    display: block;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 12px;
    fill: #f72210;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-top: 25px;
}

.social li {
    float: right;
    display: inline;
    margin: 1em;
    color: #666;
}

.social .fab:hover {
    color: hsla(230,84%,63%,1)
}

.menu-1 li strong {
    color: #000;
}

.menu-1 li {
    display: inline;
    color: #666;
}

.menu-1 li:hover {
    display: inline;
    color: #000;
}
