header {
    margin-bottom: 3px;
}

.top-header {
    background-color: #f72210;
    position: relative;
    z-index: 2;
}

.header-date{
    color: white;
}

.logo svg {
    fill: white;
}

.sign-button {
    color: #fff;
    font-weight: 600;
}

.subscribe-button {
    color: red;
    font-weight: 600;
    border-style: none;
}

.nav-row {
    position: relative;
    padding-top: 10px;
    background-color: #fff;
}

.nav {
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    padding-bottom: 7px;
}

.us {border-left-width: 0px !important}
.nav-item {
    border-left-color: #d9d9d9;
    border-left-width: 1px;
    border-left-style: solid;
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    display: block;
    color: black;
}

.nav-link:hover {
    color: red;
}

.search-item {
    border-left-color: #fff;
}

.search-link {
    color: #f4f5f6;
    font-weight: 200;
    margin-left: 15px;
}

.search-link:hover {
    color: #f4f5f6;
    font-weight: 200;
}

.free-red-shape {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 20px solid red;
    border-left: 25px solid transparent;
    height: 0;
    width: 100px;
}

.space-2 {
    border-bottom: 3px solid #f4f5f6 ;
}

@media screen and (min-width: 992px) {
    .top-header {
        height: 95px;
        padding: 20px 10px 15px;
    }
}
