main {
    padding-top: 15px;
}

.block-title {
    color: rgba(3,3,3,.4);
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
}

.card {
    border: 0px solid #fff !important;
}

.card img {
    border-radius: 0px !important;
    margin-bottom: 10px;
}

