main {
    padding-top: 15px;
}

.first-third-cols {
    position: relative;
    height: 1693px;
}

.block-title {
    color: rgba(3,3,3,.4);
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
}

.card {
    position: relative;
    border: 0px solid #fff !important;
}

/* .scrollable-column {
    position: static;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll; 
} */

.category {
    position: absolute;
}

.card .category {
    display: block;
    padding: 8px 15px 9px;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    bottom: 40%;
    left: 0;
    z-index: 1;
}

.category a {
    font: bold 17px/16px "Roboto Condensed",sans-serif;
    color: #f72210;
    text-transform: uppercase;
}

.category a:hover {
    text-decoration: none;
    color: #f72210;
}

.card img {
    border-radius: 0px !important;
    margin-bottom: 10px;
}

.card-body {
    padding: 0px !important;
}

.card-title:hover {
    text-decoration: underline;
    text-decoration-color: #f72210;
}

.card-text {
    /* font-size: 15px; */
    /* line-height: 20px; */
}

.single-title:hover {
    color: #f72210;
}

.culture-stories {
    background-color: #f4f5f7;
    margin-bottom: 20px;
}

.culture-stories .block-title {
    color: rgba(3, 3, 3, .5);
    padding: 10px;
}

.culture-item {
    background-color: #f4f5f7 !important;
}

.culture-item .card-text {
    font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: rgba(39,39,39,.5);
    margin-bottom: 10px;
}

.culture-item .tag {
    font: 300 13px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: #272727;
}

.culture-item .tag a {
    color: #272727;
    text-decoration: none;
    display: inline-block;
    background-color: #c2d4d7;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.culture-item .tag a:hover {
    background-color: #2b2d36;
    color: grey;
}

.more-stories .card-body {
    padding-top: 0;
    padding-right: 0;
}

.more-stories .card-title {
    font-weight: 700;
}

.no-bottom-border {
    border-bottom: 0px solid #fff !important;
}

.more-story-items .row{
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
    margin-bottom: 10px;
}

.opinion .col-md-12 {
    padding-bottom: 10px;
}

.opinion-card .row {
    border-bottom: 1px solid lightgray;
    border-radius: 0px ;
}

.opinion-card .card-body {
    padding: 0 0 0 3px;
}

.opinion-card .card-title {
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
}

.opinion-card .card-title:hover {
    color: red;
    text-decoration: none;
}

.opinion-card .card-text {
    font-size: 14px;
    line-height: 21px;
    color: #555;
    text-transform: uppercase;
    margin-top: -8px;
    padding-bottom: 10px;
}

.sign-up {
    background-color: #f4f5f7;
    padding: 20px;
}

.n-title {
    font: bold 19px/19px "Roboto Condensed",sans-serif;
    margin-bottom: 15px;
}

.n-title .icon-n {
    flex: none;
    float: left;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
}

.sign-button {
    display: inline-block;
    padding: 10px 10px 10px 12px;
    color: white;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: #666;
    border: none;
}

.update-preferences {
    color: #333;
    font: bold 15px/15px "Roboto Condensed",sans-serif;
    text-decoration: none;
}

.image-link {
    display: block;
    background-color: #f4f5f6;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    min-width: 101.5%;
    padding: 10px 10px 10px 12px;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
}

.image-container {
    position: relative;
}

.image-container .category {
    position: absolute;
    display: block;
    font: bold 16px/33px "Roboto Condensed",sans-serif;
    color: #f72210;
    text-transform: uppercase;
    padding: 5px 10px 10px 10px;
    background-color: rgba(255,255,255,.9);
    bottom: 0;
    left: 0;
    z-index: 1;
}

.magazine-title {
    padding-left: 40%;
    padding-right: 30%;
}

.magazine-title p {
    padding-top: 5px;
}

.magazine-category {
    margin-bottom: 5px;
}

.magazine-category a {
    border: none;
    padding: 7px 10px;
    font: bold 16px/33px "Roboto Condensed",sans-serif;
}

.magazine-category .mg-ct-1 {
    background-color: red;
    color: #fff;
}

.magazine-category .mg-ct-2 {
    background-color: #fff;
    color: red;
}

.editors-pick .card{
    margin-bottom: 20px;
}

.slideshows .card{
    margin-bottom: 20px;
}

.ft-image {
    position: relative;
}

.count-link {
    width: 70px;
    height: 52px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
    background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
    color: #e9212e;
}


